<div id="<%= dom_id animal %>">
  <p>
    <strong>Name:</strong>
    <%= animal.name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= animal.date_of_birth %>
  </p>

  <p>
    <strong>Escape attempts:</strong>
    <%= animal.escape_attempts %>
  </p>

  <p>
    <strong>Neutered:</strong>
    <%= animal.neutered %>
  </p>

  <p>
    <strong>Weight kg:</strong>
    <%= animal.weight_kg %>
  </p>

</div>
